body {
    font-family: Arial;
    background-color: #012A4A;
    color: #468FAF;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.div-card {
    background-color: orange;
    position: relative;
    width: 100px;
    height: 100px;
    transform: matrix(2, 0, 0, 2, 100, 100);
}

.card {
    stroke-width: 0.5pt;
    stroke: black;
    /* background-color: white; */
    transition: 0.5s;
}

.card__body {
    word-wrap: break-word;
    fill:  black;
    transition: 0.5s;
}

.card__hexagon {
    fill: #012A4A;
    transition: 0.5s;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: center;
}

.card__hexagon:hover {
    transform: scale(1.2);
}
/* 
.card__desc {
    width: 80px;
    height: 500px;  
    font-family: Arial;
    font-size: 4px;
    fill: white;
} */
